@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: inherit;
  color: black;
}

.container{
  text-align: center;
  color: white;
}

.image-container{
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header-container{
  padding: 50px;
}

/*.background-image{*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  object-fit: cover;*/
/*  z-index: -1;*/
/*}*/

.heading{
  margin-top: 50px;
  font-weight: bolder;
  font-size: 50px;
}

.content_container{
  font-size: 15px;
  padding: 20px;
  width: 700px;
  margin: auto;
  text-align: center;
}

.button-container{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 30px;
  margin-top: 20px;
}

.content{
  font-weight: normal;
  font-size: 20px;
}

.learn-more{
  margin-right: 10px;
  background-color: dodgerblue;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
  transition: background-color ease 0.3s,color ease 0.3s;
}

.learn-more:hover{
  background-color: white;
  color: dodgerblue;
}

.sign-up{
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 28px;
  border-radius: 30px;
  transition: color ease 0.3s, background-color ease 0.3s, border ease 0.3s;
}

.sign-up:hover{
  color: white;
  background-color: black;
  border: solid black 2px;
}