.container{
    background-color: white;
    top: 0;
    color: black;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 700px;
    align-items: center;
}

.link{
    margin: 18px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.name{
    padding: 18px;
    margin-right: 200px;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    font-size: 30px;
}

.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.link:hover:after{
    width: 100%;
}

.signin{
    margin-left: 250px;
    min-width: 114px;
    background-color: dodgerblue;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    transition: background-color ease 0.3s,color ease 0.3s;
}

.learn-more:hover{
    background-color: white;
    color: dodgerblue;
}